@use "./variables" as *;
@use "./themes";

// Reset global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.app-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 1.5rem;
  }
}

// Estilo para o item concluído
.todo-item.completed {
  text-decoration: line-through;
  color: gray;
}

// Container da lista de tarefas
.todo-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .add-todo-form {
    display: flex;
    margin-bottom: 20px;

    input {
      flex: 1;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 4px;
      margin-right: 10px;
      font-size: 16px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    button {
      padding: 10px 15px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }

  .todo-items {
    list-style-type: none;
    padding: 0;

    .todo-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid $border-color;

      &.completed {
        text-decoration: line-through;
        color: $secondary-color;
      }

      input[type="text"] {
        flex: 1;
        padding: 5px;
        border: 1px solid $border-color;
        border-radius: 4px;
        margin-right: 10px;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      .todo-actions {
        button {
          margin-left: 5px;
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
}


@media (max-width:499px) {
  .app-container {
    border-radius: 0;

    h1 {
      font-size: 20px;
    }
  }

  .todo-list-container {
    .add-todo-form {
      input {
        font-size: 14px;
        padding: 0 0 0 0.5rem;
      }
    }

    .todo-items {
      .todo-item {
        span {
          font-size: 14px;
        }

        .todo-actions {
          display: flex;
          flex-direction: column;

          button {
            padding: 0.2rem;
            font-size: 12px;
            width: 100%;
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }
}

@media (max-width:360px) {
  .todo-list-container {
    .add-todo-form {
      justify-content: space-between;
      input {
        max-width: 160px;
      }
    }
  }
}